@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Nunito+Sans&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.section-wrapper {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-wrapper--green {
  background-color: #10c9c3;
  padding-bottom: 54px;
}

.section-wrapper--gray {
  padding-top: 86px;
  background-color: #f5f5f5;
  padding-bottom: 54px;
}

.section-wrapper--low-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 30px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #191919;
  margin-bottom: 15px;
}

.section-subtext {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  margin-bottom: 31px;
  text-align: center;
}

.section-header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.section-header--work-process {
  max-width: 501px;
  margin-bottom: 52px;
}

.section-header--need {
  max-width: 540px;
}

/* END section */
.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-wrapper {
  position: relative;
  height: 100vh;
  padding-top: 101px;
  background: url(/img/intro__bg.jpg), #e9e9e9;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.container-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* END container */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 38px;
  z-index: 1000;
}

/* END header */
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  width: 100%;
  max-width: 616px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link a {
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #191919;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.nav__link a:hover {
  color: #10c9c3;
}

/*END nav*/
.banner {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin-right: 27px;
}

.banner__bold-paragraph {
  margin-bottom: 25px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #1d1d1d;
}

.banner__regular-paragraph {
  margin-bottom: 33px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
}

/* END banner */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* END visually-hidden */
.btn {
  display: inline-block;
  min-width: 180px;
  padding: 18px 35px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #10c9c3;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn--need {
  display: block;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.btn:hover {
  background-color: #0ebeb8;
}

/* END btn */
.about {
  width: 100%;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END about */
.skills__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item {
  width: 50%;
  background-color: #f8f9f9;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
}

.skills__item--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 85px 100px 100px;
}

.skills__wrapper {
  -webkit-flex-basis: 500px;
      -ms-flex-preferred-size: 500px;
          flex-basis: 500px;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.skills__list {
  width: 100%;
  max-width: 500px;
}

.skills__counter {
  position: relative;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1d1d1d;
  border-bottom: 3px solid #d8d8d8;
  padding-bottom: 8px;
  padding-top: 30px;
}

.skills__counter:first-child {
  padding-top: 20px;
}

.skills__counter::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 50%;
  background-color: #10c9c3;
  content: "";
}

.skills__counter--first-number::after {
  width: 75%;
}

.skills__counter--second-number::after {
  width: 90%;
}

.skills__counter--third-number::after {
  width: 65%;
}

.skills__img {
  width: 100%;
  height: 100%;
  max-height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* END skills */
.statistic {
  background-color: #10c9c3;
}

.services {
  background-color: #f5f5f5;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__item {
  width: 25%;
  padding-left: 71px;
  position: relative;
  margin-bottom: 42px;
}

.list__item--padding-top {
  max-width: 235px;
  padding-left: 0px;
  padding-top: 71px;
  text-align: center;
}

.list__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
}

.list__img--top {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 10px;
}

.list__header {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.list__header--black {
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #191919;
}

.list__description {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.list__description--black {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  text-transform: none;
}

/* END statistic */
.work {
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.work__item {
  width: 25%;
}

.work__item:hover .work__img {
  opacity: 0.2;
}

.work__item:hover .work__eye {
  opacity: 1;
}

.work__link {
  position: relative;
  display: block;
  background-color: #1d1d1d;
  z-index: 20;
}

.work__eye {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.work__img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.work__load-more {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #8e8e8e;
  border: none;
  background-color: transparent;
  -webkit-transition: -webkit-text-decoration 2s linear;
  transition: -webkit-text-decoration 2s linear;
  -o-transition: text-decoration 2s linear;
  transition: text-decoration 2s linear;
  transition: text-decoration 2s linear, -webkit-text-decoration 2s linear;
}

.work__load-more:hover {
  text-decoration: underline;
}

.work-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* END work */
.work-process__video {
  border: none;
  width: 100%;
}

/* END work-process */
.testimonials {
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
  padding-bottom: 6px;
  width: 100%;
  max-width: 810px;
  text-align: center;
}

.testimonials__review {
  font-size: 23px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.testimonials__author {
  display: block;
  margin-top: 22px;
  font-size: 12px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.testimonials__navigation {
  margin-top: 97px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__circle {
  margin-right: 5px;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.testimonials__circle--active {
  width: 10px;
  height: 10px;
}

/* END testimonials */
.clients {
  padding-top: 4px;
  padding-left: 35px;
  padding-bottom: 4px;
  padding-right: 35px;
}

.clients__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END clients */
.need {
  padding-top: 10px;
  padding-bottom: 42px;
}

.need__from {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 671px;
}

.need__paragraph {
  margin-bottom: 30px;
}

.need__paragraph--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.need__input, .need__textarea {
  padding: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #787878;
  border: none;
}

.need__input--margin-right {
  margin-right: 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.need__input--margin-left {
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.need__input--max-width {
  width: 100%;
}

.need__textarea {
  width: 100%;
  height: 170px;
  resize: none;
}

/* END need */
.footer {
  background-color: #141414;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #bcbcbc;
}

.footer a {
  -webkit-transition: -webkit-text-decoration 0.2s linear;
  transition: -webkit-text-decoration 0.2s linear;
  -o-transition: text-decoration 0.2s linear;
  transition: text-decoration 0.2s linear;
  transition: text-decoration 0.2s linear, -webkit-text-decoration 0.2s linear;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [copyrights] 230px minmax(auto, 246px) [address] 155px minmax(auto, 142px) [links] 165px minmax(50px, auto) [social] 71px;
      grid-template-columns: [copyrights] 230px minmax(auto, 246px) [address] 155px minmax(auto, 142px) [links] 165px minmax(50px, auto) [social] 71px;
}

.footer__copyrights {
  -ms-grid-column: copyrights;
      grid-column-start: copyrights;
}

.footer__copyrights-head {
  font-size: 18px;
  margin-bottom: 23px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.footer__address {
  -ms-grid-column: address;
      grid-column-start: address;
}

.footer__address-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links {
  -ms-grid-column: links;
      grid-column-start: links;
}

.footer__links-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px;
      grid-template-columns: 1fr 55px;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.footer__social {
  -ms-grid-column: social;
      grid-column-start: social;
}
